<div class="modal-header">
    <h3>Are you sure you want to delete this record permanently?</h3>
</div>
<div class="modal-body">
    <form action="">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <div class="col-span-2">
                <label class="block text-gray-700 font mb-2" for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter full name" #fullname (ngModel)="fullname" required>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="email">Email</label>
                <input type="email" id="email" name="email"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter email address" #internemail (ngModel)="internemail" required>
            </div>

            <div>
                <label class="block text-gray-700 font mb-2" for="mentor">Mentor</label>
                <input type="mentor" id="mentor" name="mentor"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter mentor name" #mentorname (ngModel)="mentorname" required>
            </div>

            <div>
                <label class="block text-gray-700 font mb-2" for="mentoremail">Mentor Email</label>
                <input type="text" id="mentoremail" name="mentoremail"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter mentor's email" #mentoremail (ngModel)="mentoremail" required>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="email">Project Name</label>
                <input type="text" id="projectname" name="projectname"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter project name" #projectname (ngModel)="projectname" required>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="email">Project Status</label>
                <input type="text" id="projectstatus" name="projectstatus"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter project status" #projectstatus (ngModel)="projectstatus" required>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="startDate">Start Date</label>
                <input type="date" id="startDate" name="startDate"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    #startdate (ngModel)="startdate" required>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="endDate">End Date</label>
                <input type="date" id="endDate" name="endDate"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    #enddate (ngModel)="enddate" required>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="role">Role</label>
                <input type="data" id="role" name="role"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    #role (ngModel)="role" required>
            </div>
            <div class="col-span-2">
                <label class="block text-gray-700 font mb-2" for="association">Association</label>
                <select id="association" name="association"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    #association (ngModel)="association" required>
                    <option value="" disabled selected>Select association</option>
                    <option value="PetChem IT">PetChem IT</option>
                    <option value="Finance">Finance</option>
                    <option value="Marketing">Marketing</option>
                    <option value="HR">HR</option>
                </select>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button>
        
    </button>
</div>